[submodule "Assets/WebGLTemplates/FloatingDropdown"]
	path = Assets/WebGLTemplates/FloatingDropdown
	url = https://github.com/fielddaylab/FloatingDropdown.git
[submodule "Assets/WebGLTemplates/FieldDay/FloatingDropdown"]
	path = Assets/WebGLTemplates/FieldDay/FloatingDropdown
	url = https://github.com/fielddaylab/FloatingDropdown.git
